name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            mkdir -p ~/devops-mastery
            cd ~/devops-mastery
            
            # Create a simple .env file so Compose knows which image to use
            echo "DOCKER_IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest" > .env
            # export DOCKER_IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest

            # Pull the latest changes for your config files (if you use git on vps)
            # Or just run the compose commands to pull the new image and restart the containers
            docker compose pull
            docker compose up -d --remove-orphans
          # script: |
          #   docker pull ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest
          #   docker stop my-app || true
          #   docker rm my-app || true
          #   docker run -d --name my-app -p 81:3000 ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest
