name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # ÉTAPE INDISPENSABLE : Envoyer les fichiers de config au VPS
      - name: Copy config files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          # On envoie le docker-compose et le dossier de monitoring
          source: "docker-compose.yml,monitoring/" 
          target: "~/devops-mastery"

      # ÉTAPE DE DÉPLOIEMENT
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/devops-mastery
            
            # Injection du nom de l'image dans le fichier .env
            echo "DOCKER_IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest" > .env
            
            # Utilisation de la nouvelle syntaxe 'docker compose' (recommandée)
            docker compose pull
            docker compose up -d --remove-orphans
